<!-- <div>
  <input type="text" [(ngModel)]="width">
</div>
<div style="height: 20px;width: 30%;margin-top: 10px;">
  <app-bar [width]="width" [color]="color"></app-bar>
</div>

<div style="height: 20px;width: 30%;margin-top: 10px;">
  <app-bar [width]="width" [color]="color"></app-bar>
</div>

<div style="height: 20px;width: 30%;margin-top: 10px;">
  <app-bar [width]="width" [color]="color"></app-bar>
</div> -->
<div>
  <button (click)="add()">Add</button>
</div>
<div style="height: 20vh;width: 100%;margin-top: 10px;">
  <app-donut [dataset]="dataset"></app-donut>
</div>