<!-- <div>
  <input type="text" [(ngModel)]="width">
</div>
<div style="height: 20px;width: 30%;margin-top: 10px;">
  <app-bar [width]="width" [color]="color"></app-bar>
</div>

<div style="height: 20px;width: 30%;margin-top: 10px;">
  <app-bar [width]="width" [color]="color"></app-bar>
</div>

<div style="height: 20px;width: 30%;margin-top: 10px;">
  <app-bar [width]="width" [color]="color"></app-bar>
</div> -->
<div>
  <button (click)="add()">Add</button>
  <button (click)="remove()">Remove</button>
  <button (click)="update()">Update</button>
</div>
<div style="height: 20vh;width: 100%;margin-top: 10px;">
  <app-donut2 [dataset]="dataset2"></app-donut2>
</div>